<!DOCTYPE html>

<html lang="zh-cn">
<head>
	<title>点餐页面</title>
	<link rel="stylesheet" type="text/css" href="/static/base.css">
	<link rel="stylesheet" type="text/css" href="/static/shop.css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
	<div class="mobile_page">
		<div class="topBar">
			<div></div>
			<div class="title">
				{% if isShopper %}
				<div>店名:</div>
				{% endif %}
				{{shop_name}}
				{% if isShopper %}
				<img src="/static/image/icon_write.png" class="img_button" onclick="">
				{% endif %}
			</div>
			<div id="statusText" class="tip_text"></div>
		</div>
		<div id="item_area" class="scrollview">
			
		</div>
		<div class="bottomBar">
			{%if isShopper %}
			<button class="link_button">订单列表</button>
			<button class="accent_button" onclick="addItem()">创建餐品</button>
			<button class="accent_button">店铺设置</button>
			{%else%}
			<button class="link_button">我的订单</button>
			<button class="accent_button">我选好了</button>
			{%endif%}
		</div>
	</div>
	
	<dialog id="dialog_createItem">
		<form id="form_createItem" class="login_box">
			<div class="grid_2col_title"> 
				●○●○ 创建新餐品 ●○●○
			</div>
			<label>餐品名称</label>
			<input name="item_name" placeholder="输入餐品的名称" required>
			<label>餐品图片</label>
			<img style="width:100;height:100">
			<label>价格</label>
			<input name="price" placeholder="输入价格，如：5.0、3.5" required>
			<button type="button" onclick="dialog_createItem.close()">取消</button>
			<button type="button" 
				onclick="dialog_createItem.close();submit_createItem()">确认提交</button>
		</form>
	</dialog>
	
	
</body>

<script>

	var itemarea = document.getElementById("item_area")
	var statusText = document.getElementById("statusText")
	
	var dialog_createItem = document.getElementById("dialog_createItem")
	
	var itemid_element = {} //记录item_id到item元素的映射
	{%if not isShopper %}
	var item_selected_num = {} //记录当前用户购物车: item_id->num
	{%endif%}

	// 根据item json数据更新item_element元素
	function updateItem(item_element,item) {
		item_element.innerHTML = 
		`
			<img class="item_image" src="\api\get_item_cover\${item.item_id}">
			<div class="item_right">
				<div class="item_name">${item.item_name}</div>
				<div class="item_rest_num">剩余${item.rest_num}份</div>
				{%if isShopper %}
				<div class="row">
					<div>修改价格：￥</div>
					<input/>
					<button type="button">提交新价格</button>
				</div>
				{%else%}
				<div class="item_price">￥${item.price}</div>
				{%endif%}
			</div>
			<div style="flex-grow:1"></div>
			<div class="row">
				<div class="round_button">+</div>
					
				<div style="display:flex;gap:2pt;align-items:end;">
					{%if isShopper %}
					<div>剩余${item.rest_num}</div>
					{%else%}
					<div>${item_selected_num[item.item_id]}</div>
					{%endif%}
					<div style="font-size:0.7rem;color:grey">份</div>
				</div>
				<div class="round_button">-</div>
				{%if isShopper %}
				<div class="column">
					<div class="link_button">修改剩余数量</div>
					<div class="link_button">删除</div>
					<div class="link_button">修改图片</div>
				</div>
				{%endif%}
			</div>
		`
	}

	// 更新一次商品列表
	function updateItems() {
		statusText.innerHTML = "正在更新列表..."
		const xhr = new XMLHttpRequest();
		xhr.open("GET","/shop/{{shop_id}}/get_items",true)
		xhr.onreadystatechange = function() {
			if (xhr.readyState === XMLHttpRequest.DONE) {
				const json = JSON.parse(xhr.responseText);
				if (xhr.status == 200) {
					statusText.innerHTML = ""
					console.log("get_items: ",json);
					for(const item of json) {
						if(itemid_element.has(item.item_id)) {
							//列表中已经存在
							updateItem(itemid_element[item.item_id],item);
						} else {
							//需要添加到末尾
							item_element = document.createElement("div")
							item_element.class = "item"
							itemarea.appendChild(item_element)
							updateItem(item_element,item)
							//记录
							itemid_element[item.item_id] = item_element
						}
					}
				} else {
					statusText.innerHTML = "获取列表失败"
				}
			}
		};
		xhr.send();	
	}
	
	function addItem() {
		dialog_createItem.showModal();
	}
	
	setInterval(updateItems,6000) // 6秒更新一次当前餐品
	
	updateItems() //立即获取商品列表
</script>

</html>