<!DOCTYPE html>

<html lang="zh-cn">
<head>
	<title>点餐页面</title>
	<link rel="stylesheet" type="text/css" href="/static/base.css">
	<link rel="stylesheet" type="text/css" href="/static/shop.css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
	<div class="mobile_page">
		<div class="topBar">
			<div></div>
			<div class="title">{{shop_name}}</div>
			<div></div>
		</div>
		<div class="scrollview">
			<div class="item">
				<img class="item_image" src="">
				<div class="item_right">
					<div class="item_name">羊肉串1串</div>
					<div class="item_rest_num">剩余200份</div>
					<div class="item_price">￥5.88</div>
				</div>
			</div>
			<div class="item">
				<img class="item_image" src="">
				<div class="item_right">
					<div class="item_name">烤蘑菇1串</div>
					<div class="item_rest_num">剩余200份</div>
					<div class="item_price">￥1.88</div>
				</div>
				<div style="flex-grow:1"></div>
				<div class="row">
					<div class="round_button">+</div>
					
					<div style="display:flex;gap:2pt;align-items:end;">
						<div>0</div>
						<div style="font-size:0.7rem;color:grey">份</div>
					</div>
					<div class="round_button">-</div>
				</div>
			</div>
		</div>
		<div class="bottomBar">
			<button class="link_button">我的订单</button>
			<button class="accent_button">我选好了</button>
		</div>
	</div>
</body>
</html>